ProGPS/parser/reseau.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT reseau (route|ville)*>
<!ELEMENT ville (touristique|type|nom)*>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT touristique (#PCDATA)>
<!ELEMENT route (troncon|type|nom)*>
<!ELEMENT troncon (longueur|payant|radar|touristique|vitesse|ville2|ville1)*>
<!ELEMENT ville1 (#PCDATA)>
<!ELEMENT ville2 (#PCDATA)>
<!ELEMENT vitesse (#PCDATA)>
<!ELEMENT radar (#PCDATA)>
<!ELEMENT payant (#PCDATA)>
<!ELEMENT longueur (#PCDATA)>
